<div class="news-container">
  <h1>{{ news?.title }}</h1>
  <div class="news-card">
    <div class="news-image">
      <img *ngIf="news?.image" src="http://localhost:4000/uploads/{{ news.image }}" alt="product image" class="main-image" />
    </div>
    <div class="news-content">
      <p>{{ news?.description }}</p>
      <a [href]="news?.videoLink" target="_blank">watch video</a>
    </div>
    <hr />
  </div>
</div>
<div class="comments-container-wrapper">
  <div class="comments-container">
    <div class="comments-card">
      <div class="comment-form">
        <form [formGroup]="commentForm" (ngSubmit)="submitComment()" class="comment-form">
          <input id="comment" formControlName="comment" placeholder="leave your comment here..." />
          <button type="submit">
            <span class="material-symbols-outlined">send</span>
          </button>
        </form>
      </div>
      <div style="text-align: center; padding-bottom: 10px"><span *ngIf="isInputDisabled()">To leave a comment, please login!</span></div>
      <div *ngIf="comments.length > 0" class="comments-content">
        <div class="all-comments">
          <p *ngIf="comments.length === 1">{{ comments.length }} comment</p>
          <p *ngIf="comments.length > 1">{{ comments.length }} comments</p>
        </div>
        <div class="comments-overflow">
          <div class="comment-card" *ngFor="let comment of comments">
            <div class="comment">
              <div class="comment-card-name">{{ comment.firstname }}</div>
              <div class="comment-card-date">{{ formatTimeAgo(comment.date) }}</div>
            </div>
            <div class="comment-card-text">{{ comment.comment }}</div>
          </div>
        </div>
      </div>
      <div style="text-align: center" *ngIf="comments.length === 0">No comments</div>
    </div>
  </div>
</div>
