<div class="announcement-bar">
  <div class="announcement-inside">
    <span class="announcement">WELCOME</span>
  </div>
</div>
<div class="site-header">
  <a href=""><img src="LogoHs.PNG" alt="Logo" class="logo" /></a>
  <div class="allButLogo">
    <nav class="nav-menu">
      <button class="allButtons" mat-button>SHOP</button>
      <button class="allButtons" mat-button routerLink="/collections">NEWS</button>
      <button class="allButtons" mat-button routerLink="/games">GAMES & QUIZESS</button>
    </nav>
    <div class="header-actions">
      <!-- <button routerLink="/login" mat-icon-button aria-label="Account">
        <mat-icon class="material-symbols-outlined">person_outlined</mat-icon>
      </button> -->
      <ng-container *ngIf="getUser(); else loginButton">
        <button routerLink="/user-info" mat-icon-button aria-label="Account">
          <mat-icon class="material-symbols-outlined">person_outlined</mat-icon>
        </button>
      </ng-container>
      <ng-template #loginButton>
        <button routerLink="login" mat-icon-button aria-label="Account">
          <mat-icon class="material-symbols-outlined">person_outlined</mat-icon>
        </button>
      </ng-template>
      <button mat-icon-button aria-label="Search">
        <mat-icon class="material-symbols-outlined">search</mat-icon>
      </button>
      <button mat-icon-button (click)="openCart()" aria-label="Cart">
        <mat-icon *ngIf="getTotalQuantity() > 0" [matBadge]="getTotalQuantity()" matBadgeColor="accent" matBadgeSize="medium" class="material-symbols-outlined"> shopping_bag </mat-icon>
        <mat-icon *ngIf="getTotalQuantity() === 0" class="material-symbols-outlined"> shopping_bag </mat-icon>
      </button>
    </div>
  </div>
</div>
<app-cart (sidenavClosed)="closeCart()"></app-cart>

<router-outlet></router-outlet>
<footer class="hs-footer">Handsome Styles © 2024</footer>
