.reset-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 30px 30px;
}

.input-field {
  width: 90%;
}

h1 {
  color: #dd735e !important;
  font-weight: bolder !important;
  text-align: center;
}
mat-dialog-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#submit-button {
  color: #dd735e !important;
  font-weight: bold !important;
  border-color: #f6dad5 !important;
}

#close-button {
  color: #757575 !important;
}

.message {
  color: #dd735e !important;
  font-weight: bold !important;
  text-align: center;
}

.success-message {
  color: #36a036 !important;
  font-weight: bold !important;
  text-align: center;
}
