<div class="reset-password-dialog">
  <h1 mat-dialog-title>Reset password</h1>
  <div mat-dialog-content>
    <form [formGroup]="passwordForm" class="reset-password-form">
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>New password</mat-label>
        <input matInput formControlName="password" required />
      </mat-form-field>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Repeat new password</mat-label>
        <input matInput formControlName="passwordRepeat" required />
      </mat-form-field>
      <div *ngIf="message" class="message">{{ message }}</div>
      <mat-error style="font-size: 12px; width: 90%" *ngIf="passwordForm.get('password')?.hasError('pattern')"
        >Password must contain at least one number and one letter and be at least 8 characters long</mat-error
      >
      <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
    </form>
  </div>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close id="close-button">Close</button>
    <button mat-stroked-button id="submit-button" (click)="onSubmit()">Submit</button>
  </mat-dialog-actions>
</div>
