:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.account-dashboard {
  border-bottom: 1px solid #f6dad5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.account-greeting {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 50px;
}

.account-greeting-name {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  color: #dd735e;
}

.account-greeting-logout {
  font-size: 15px;
  font-weight: 500;
  color: #6a6e71;
  text-decoration: none;
  cursor: pointer;
}

.account-info {
  display: flex;
  flex: 1;

  gap: 16px;
  margin: 50px;
}

.account-navigation {
  cursor: pointer;
  color: #6a6e71;
  border-right: 1px solid #f6dad5;
}

.all-account-details {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 40px;
}

a {
  cursor: pointer;
  color: #dd735e;
}

#change-data {
  cursor: pointer;
  color: #dd735e;
  text-decoration: underline;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 0;
  border: #f4b9ae solid 1px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 10px;
  padding: 8px;
  margin: 0 10px;
  text-decoration: none;
}
li:hover {
  border: #8f4c42 solid 1px;
  border-radius: 10px;
  padding: 8px;
  text-decoration: none;
}

.account-data {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  flex: 1;
  border: #f4b9ae solid 1px;
  border-radius: 8px;
  /* padding: 16px 32px; */
}

.account-details {
  display: flex;
  justify-content: space-between;
  padding: 3px;
}

mat-expansion-panel {
  border-bottom: 1px solid #f6bdb2;
  color: #6a6e71;
  background-color: transparent;
  box-shadow: 0 0 0 0 !important;
  height: auto;
}
mat-expansion-panel-header {
  height: 100px;
  color: #3b3d3e;
}

mat-panel-description {
  width: 150px;
  display: flex;
  justify-content: center;
}

.orders-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.cart-item-image-container {
  height: auto;
  overflow: hidden;
  margin: 5px;
  width: 200px;
  height: 200px;
  display: flex;
  background-color: white;
  border: 1px solid #f6bdb2;
  justify-content: center;
  align-items: center;

  img {
    width: auto;
    height: fit-content;
    overflow: hidden;
    display: flex;
  }
}

.items-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.order-items-cards {
  grid-template-columns: repeat(3, auto);
  display: grid;
  width: 100%;
  justify-content: start;
  align-items: center;
  border-top: 1px solid #f6bdb2 !important;
  padding: 10px 0 10px;
}

.order-shipping-details {
  border-top: 1px solid #f6bdb2 !important;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.item-card {
  text-align: center;
}

.item-card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
mat-tab-group {
  width: 100%;
}
.carousel {
  width: 100%;
  position: relative;
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.carousel-controls button {
  background-color: #dd735e;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.review-card {
  padding: 12px;
  border: 1px solid #f4b9ae;
  border-radius: 8px;
  background-color: #fff;
  button {
    background: none;
    border: none;
    cursor: pointer;
    color: #474747;
  }
}

.review-comment-delete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.review-card-details {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.review-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #4e4e4e;
}

.review-card-name {
  font-size: 15px;
}

.show-more-tabs {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  padding: 10px;
  font-size: 14px;
  text-decoration: underline;
}

.reviews-cards {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 350px;
  padding: 34px 24px;
  gap: 4px;
}

.wishlist-cards {
  height: 100%;
}

.no-products-message {
  padding: 16px 8px;
  flex-direction: column;
  gap: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
