<div class="checkout-container">
  <div class="checkout-left">
    <div class="shipping-container">
      <div class="shipping-div">
        <form [formGroup]="shippingForm" (ngSubmit)="onSubmit()" class="shipping-form">
          <div class="name-fields">
            <p>CONTACT</p>
            <mat-form-field appearance="outline" id="field">
              <mat-label>email</mat-label>
              <input type="email" matInput formControlName="email" placeholder="name@example.com" />
              <mat-error *ngIf="shippingForm.get('email')?.hasError('email')">please enter a valid email address</mat-error>
              <mat-error *ngIf="shippingForm.get('email')?.hasError('required')">email is <strong>required</strong></mat-error>
            </mat-form-field>
            <p>SHIPPING ADDRESS</p>
            <div class="names">
              <mat-form-field class="name" appearance="outline" id="field">
                <mat-label>first name</mat-label>
                <input matInput formControlName="firstname" placeholder="firstname" />
                <mat-error *ngIf="shippingForm.get('firstname')?.hasError('required')">first name is <strong>required</strong></mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>last name</mat-label>
                <input matInput formControlName="lastname" placeholder="lastname" />
                <mat-error *ngIf="shippingForm.get('lastname')?.hasError('required')">last name is <strong>required</strong></mat-error>
              </mat-form-field>
            </div>
            <mat-form-field appearance="outline">
              <mat-error *ngIf="shippingForm.get('address')?.hasError('required')">address is <strong>required</strong></mat-error>
              <mat-label>address</mat-label>
              <input matInput formControlName="address" placeholder="address" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>city</mat-label>
              <input matInput formControlName="city" placeholder="city" />
              <mat-error *ngIf="shippingForm.get('city')?.hasError('required')">city is <strong>required</strong></mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>zip</mat-label>
              <input matInput formControlName="zip" placeholder="zip" />
              <mat-error *ngIf="shippingForm.get('zip')?.hasError('required')">zip is <strong>required</strong></mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>country</mat-label>
              <input matInput formControlName="country" placeholder="country" />
              <mat-error *ngIf="shippingForm.get('country')?.hasError('required')">country is <strong>required</strong></mat-error>
            </mat-form-field>
            <mat-form-field type="tel" appearance="outline">
              <mat-label>phone</mat-label>
              <input type="tel" matInput formControlName="phone" placeholder="phone" />
              <mat-error *ngIf="shippingForm.get('phone')?.hasError('required')">phone is <strong>required</strong></mat-error>
            </mat-form-field>
            <p class="error" *ngIf="shippingForm.get('phone')?.hasError('phoneInvalid')">phone must be in the format +xxxxxxxxxx</p>

            <p>DISCOUNT CODE</p>
            <mat-form-field appearance="outline">
              <mat-label>discount code</mat-label>
              <div class="discount-code-container">
                <input matInput formControlName="discountCode" placeholder="Enter discount code" />
                <button class="check-discount-code" (click)="applyDiscountCode()"><mat-icon>check</mat-icon></button>
              </div>
            </mat-form-field>
            <p class="discount-good" *ngIf="discountAmount > 0">Discount applied!</p>
            <p class="discount-wrong" *ngIf="discountAmount === 0">Invalid discount code!</p>
          </div>
          <form [formGroup]="paymentForm">
            <div class="payment-methods">
              <p>PAYMENT METHOD</p>
              <mat-radio-group class="payment-method" aria-label="payment method" formControlName="paymentMethod">
                <mat-radio-button value="cod">cash on delivery (COD)</mat-radio-button>
              </mat-radio-group>
            </div>
          </form>
          <button mat-flat-button type="submit">Order</button>
        </form>
      </div>
    </div>
  </div>
  <div class="checkout-right">
    <div class="checkout-items">
      <div class="checkout-item">
        <div *ngFor="let item of cartItems">
          <div class="checkout-product">
            <div class="checkout-product-title-image">
              <div class="badge" [matBadge]="item.quantity" matBadgeColor="accent" matBadgeSize="medium">
                <img class="checkout-product-image" src="http://localhost:4000/uploads/{{ item.product?.imageFilename }}" alt="product image" />
              </div>
              <div class="checkout-product-name">
                {{ item.product.name }}<br />
                {{ item.variant }}
              </div>
            </div>
            <div class="checkout-product-price">
              {{ item.product.price | currency }}
            </div>
          </div>
        </div>
        <div class="checkout-total">
          <div class="subtotal">
            <p>subtotal:</p>
            <p>
              {{ getTotalPrice() | currency }}
            </p>
          </div>
          <div class="subtotal">
            <p>shipping:</p>
            <p>$5</p>
          </div>
        </div>
        <div class="checkout-total">
          <div class="total-title">
            <p>total:</p>
            <div *ngIf="discountAmount > 0" class="total-price-discount">
              <p style="text-decoration: line-through" class="discount-good">{{ getTotalPrice() + 5 | currency }}</p>
              <p class="discount-good">{{ getTotalPrice() + 5 - discountAmount | currency }}</p>
            </div>
            <p *ngIf="discountAmount === 0" class="total-price">
              {{ getTotalPrice() + 5 | currency }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
