<div class="product-page">
  <div class="product-images">
    <img *ngIf="product?.imageFilename" [src]="'/products/' + product?.imageFilename" alt="product image" class="main-image" />
  </div>

  <div class="product-details" *ngIf="product">
    <div class="product-title-heart">
      <h1>{{ product.name }}</h1>

      <button mat-icon-button aria-label="Toggle Wishlist" (click)="toggleWishlist()">
        <mat-icon
          [ngClass]="{
            'material-symbols-outlined': !isInWishlist(),
            'material-symbols': isInWishlist()
          }"
          >favorite</mat-icon
        >
      </button>
    </div>

    <h2>{{ product.price | currency }}</h2>
    <p>{{ product.description }}</p>

    <mat-form-field class="quantityForm">
      <div class="quantity-selector">
        <button mat-icon-button (click)="decreaseQuantity()">
          <mat-icon>remove</mat-icon>
        </button>
        <input matInput type="number" [(ngModel)]="quantity" min="1" />
        <button mat-icon-button (click)="increaseQuantity()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-form-field>

    <mat-form-field class="form" appearance="fill">
      <mat-label>{{ labelText }}</mat-label>
      <mat-select [(ngModel)]="selectedVariant" (selectionChange)="onVariantChange($event.value)">
        <mat-option *ngFor="let variant of product.variants" [value]="variant">
          <span *ngIf="variant.color">{{ variant.color }}</span>
          <span *ngIf="variant.model">{{ variant.model }}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-flat-button class="addtocartbutton" (click)="addToCart()">add to cart</button>
    </div>
  </div>
</div>
