<div class="orders-cards">
  <ng-container class="user-orders" *ngIf="orders.length > 0; else noOrders">
    <h1>{{ user.firstname }}'s orders</h1>
    <mat-expansion-panel hideToggle *ngFor="let order of orders">
      <mat-expansion-panel-header>
        <mat-panel-description> <span class="material-symbols-outlined"> inventory </span> </mat-panel-description>
        <mat-panel-description>
          <mat-select [(value)]="order.status" (click)="onContainerClick($event)" (selectionChange)="setOrderStatus(order, $event.value)">
            <mat-option *ngFor="let status of orderStatuses" [value]="status.value">
              {{ status.viewValue }}
            </mat-option>
          </mat-select>
        </mat-panel-description>
        <mat-panel-description> {{ getOrderItems(order) }} items </mat-panel-description>
        <mat-panel-description>{{ formatDate(order.dateAndTime) }}</mat-panel-description>
        <mat-panel-description> {{ order.totalPrice | currency }} </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="items-cards">
        <div class="order-items-cards">
          <div *ngFor="let item of order.orderItems">
            <div class="item-card">
              <div class="item-card-details">
                <div class="cart-item-image-container">
                  <img src="http://localhost:4000/uploads/{{ item.image }}" alt="{{ item.name }}" class="cart-item-image" />
                </div>
                <div class="item-card-name">{{ item.name }}</div>
                <div class="item-card-variant">{{ item.variant }}</div>
                <div class="item-card-price">{{ item.price | currency }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="order-shipping-details">
          {{ order.shipping.firstname }} {{ order.shipping.lastname }}
          <br />
          {{ order.shipping.address }}
          <br />
          {{ order.shipping.city }}, {{ order.shipping.zip }} {{ order.shipping.country }}
          <br />
          {{ order.shipping.phone }}
          <br />
          {{ order.shipping.email }}
        </div>
      </div>
    </mat-expansion-panel>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close id="close-button" (click)="onCancel()">Close</button>
      <button mat-stroked-button mat-dialog-close type="submit" (click)="onSave()" id="submit-button">Submit</button>
    </mat-dialog-actions>
  </ng-container>
  <ng-template #noOrders style="text-align: center; padding: 26px 10px 10px">
    <h1>{{ user.firstname }} haven't placed any orders yet!</h1>
  </ng-template>
</div>
