<div class="search-container">
  <div class="search-form">
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput [formControl]="searchControl" placeholder="Search for products" />
      <button mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="search-results">
    <h2 [@resultsState]="resultsState">SEARCH RESULTS</h2>
    <div class="results-grid">
      <app-product-list [page]="searchControl.value" [products]="results"></app-product-list>
    </div>
  </div>
</div>
