:host {
  display: block;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif !important;
}

h1 {
  font-weight: bold;
  font-size: 35px;
  margin: 0 0 30px;
  color: #da8c6b;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  background-color: #f9f9f9;
}

.login-div {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.login-form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif !important;
}

.error-message {
  width: 100%;
  height: 50px;
  background-color: #db8c6b;
  color: white;
  margin-bottom: 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-form-field {
  width: 100%; /* Polja za unos zauzimaju punu širinu forme */
  margin-bottom: 6px; /* Razmak između polja */
}

mat-error {
  width: 100% !important;
}

input {
  height: 30px;
}

button {
  width: 100%;
  margin-bottom: 24px;
  margin-top: 10px;
  border: 1px solid #938984 !important;
  color: #da8c6b !important;
  font-weight: bold;
}

p {
  margin: 0;
}

.login-register-link {
  text-decoration: underline;
  cursor: pointer;
}
