<div class="account-dashboard">
  <div class="account-greeting">
    <h1 class="account-greeting-name">HI {{ user.firstname.toUpperCase() }}</h1>
    <a (click)="logout()" class="account-greeting-logout">Log out</a>
  </div>
</div>
<div class="account-info">
  <div class="account-navigation">
    <ul>
      <li (click)="showSection('users')">users</li>
      <li (click)="showSection('products')">products</li>
      <li (click)="showSection('news')">news</li>
      <li (click)="showSection('questions')">questions</li>
    </ul>
  </div>
  <div class="account-data" *ngIf="selectedSection === 'users'">
    <p class="approve">Approve users</p>
    <div *ngIf="users.length > 0" class="users-cards">
      <mat-card class="user-card" appearance="outlined" *ngFor="let user of users">
        <mat-card-header class="user-card-header">
          <mat-card-title>{{ user.firstname }} {{ user.lastname }}</mat-card-title>
          <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="profile-icon" src="http://localhost:4000/uploads/profile-icon.png" alt="Photo" />
        <mat-card-content> </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button (click)="approveUser(user)"><mat-icon class="material-symbols-outlined approve-icon">check_circle</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div *ngIf="users.length === 0">
      <p>No users to approve!</p>
    </div>
    <p class="approve">All users</p>
    <div class="users-cards">
      <mat-card class="user-card" appearance="outlined" *ngFor="let user of allUsers">
        <mat-card-header class="user-card-header">
          <mat-card-title>{{ user.firstname }} {{ user.lastname }}</mat-card-title>
          <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="profile-icon" src="http://localhost:4000/uploads/profile-icon.png" alt="Photo" />
        <mat-card-content> </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button (click)="deleteUser(user)"><mat-icon class="material-symbols-outlined delete-icon">delete</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="account-data" *ngIf="selectedSection === 'products'">
    <p class="approve">Add products</p>
    <form [formGroup]="productForm" class="add-product-form">
      <div class="file-upload-container" (click)="fileInput.click()">
        <span *ngIf="!imageSrc" class="material-symbols-outlined upload-icon"> upload_file </span>
        <input type="file" #fileInput hidden (change)="onFileSelected($event)" accept="image/*" />
        <div class="image-preview" *ngIf="imageSrc">
          <img [src]="imageSrc" alt="Preview" />
        </div>
      </div>

      <div class="all-inputs">
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name" required />
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Description" formControlName="description" required></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Price</mat-label>
          <input matInput placeholder="Price" type="number" formControlName="price" required />
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category" required>
            <mat-option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Stock</mat-label>
          <input matInput placeholder="Stock" type="number" formControlName="stock" required />
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Variant</mat-label>
          <input matInput placeholder="Add variant" #variantInput />
          <button type="button" mat-icon-button matSuffix (click)="addVariant(variantInput.value)">
            <mat-icon>add</mat-icon>
          </button>
        </mat-form-field>

        <!-- Prikaz varijanti -->
        <div class="variants-list">
          <div *ngFor="let variant of variantsBefore">
            {{ variant }}
          </div>
        </div>
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Tags</mat-label>
          <input matInput placeholder="Add tags" #tagInput />
          <button type="button" mat-icon-button matSuffix (click)="addTags(tagInput.value)">
            <mat-icon>add</mat-icon>
          </button>
        </mat-form-field>

        <!-- Prikaz varijanti -->
        <div class="variants-list">
          <div *ngFor="let tag of tagsBefore">
            {{ tag }}
          </div>
        </div>

        <button mat-raised-button class="add-product-button" (click)="addProduct()" type="submit">Add product</button>
      </div>
    </form>
  </div>
  <div class="account-data" *ngIf="selectedSection === 'news'">news</div>
  <div class="account-data" *ngIf="selectedSection === 'questions'">questions</div>
</div>
