<div class="account-dashboard">
  <div class="account-greeting">
    <h1 class="account-greeting-name">HI {{ user.firstname.toUpperCase() }}</h1>
    <a (click)="logout()" class="account-greeting-logout">Log out</a>
  </div>
</div>
<div class="account-info">
  <div class="account-navigation">
    <ul>
      <li (click)="showSection('users')">users</li>
      <li (click)="showSection('products')">products</li>
      <li (click)="showSection('news')">news</li>
      <li (click)="showSection('questions')">questions</li>
    </ul>
  </div>
  <div class="account-data" *ngIf="selectedSection === 'users'">
    <div class="search-container">
      <p class="approve">Approve users</p>
      <form [formGroup]="searchForm" class="search-form">
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Search users" formControlName="searchApprovedUsers" />
          <button mat-icon-button matSuffix (click)="searchApprovedUsers()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
    <div *ngIf="users.length > 0" class="users-cards">
      <mat-card class="user-card" appearance="outlined" *ngFor="let user of users">
        <mat-card-header class="user-card-header">
          <mat-card-title>{{ user.firstname }} {{ user.lastname }}</mat-card-title>
          <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="profile-icon" src="http://localhost:4000/uploads/profile.png" alt="Photo" />
        <mat-card-content> </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button (click)="approveUser(user)"><mat-icon class="material-symbols-outlined approve-icon">check_circle</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div *ngIf="users.length === 0">
      <p style="margin: 0px 15px 12px">No users to approve!</p>
    </div>

    <div class="search-container">
      <p class="approve">All users</p>
      <form [formGroup]="searchForm" class="search-form">
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Search users" formControlName="searchUsers" />
          <button mat-icon-button matSuffix (click)="searchUsers()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
    <div class="users-cards">
      <mat-card class="user-card" appearance="outlined" (click)="updateOrdersReviews(user)" *ngFor="let user of allUsers">
        <mat-card-header class="user-card-header">
          <mat-card-title>{{ user.firstname }} {{ user.lastname }}</mat-card-title>
          <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="profile-icon" src="http://localhost:4000/uploads/profile.png" alt="Photo" />

        <mat-card-actions>
          <button mat-icon-button (click)="deleteUser(user)"><mat-icon class="material-symbols-outlined delete-icon">delete</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div *ngIf="allUsers.length === 0">
      <p style="margin: 0px 15px 12px">No users!</p>
    </div>
  </div>
  <div class="account-data" *ngIf="selectedSection === 'products'">
    <p class="approve">Add products</p>
    <form [formGroup]="productForm" class="add-product-form">
      <div class="file-upload-container" (click)="fileInput.click()">
        <span *ngIf="!imageSrc" class="material-symbols-outlined upload-icon"> upload_file </span>
        <input type="file" #fileInput hidden (change)="onFileSelected($event)" accept="image/*" />
        <div class="image-preview" *ngIf="imageSrc">
          <img [src]="imageSrc" alt="Preview" />
        </div>
      </div>

      <div class="all-inputs">
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name" required />
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Description" formControlName="description" required></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Price</mat-label>
          <input matInput placeholder="Price" type="number" formControlName="price" required />
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category" required>
            <mat-option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Stock</mat-label>
          <input matInput placeholder="Stock" type="number" formControlName="stock" required />
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Variant</mat-label>
          <input matInput placeholder="Add variant" #variantInput />
          <button type="button" mat-icon-button matSuffix (click)="addVariant(variantInput.value)">
            <mat-icon>add</mat-icon>
          </button>
        </mat-form-field>

        <div class="variants-list">
          <div *ngFor="let variant of variantsBefore">
            {{ variant }}
          </div>
        </div>
        <mat-form-field appearance="outline" class="input-field">
          <mat-label class="tags-label">Tags</mat-label>
          <input matInput placeholder="Add tags" #tagInput />
          <button type="button" mat-icon-button matSuffix class="add-tag-button" (click)="addTags(tagInput.value)">
            <mat-icon>add</mat-icon>
          </button>
        </mat-form-field>

        <div class="variants-list">
          <div *ngFor="let tag of tagsBefore">
            {{ tag }}
          </div>
        </div>

        <button mat-raised-button class="add-product-button" (click)="addProduct()" type="submit">Add product</button>
      </div>
    </form>
    <div class="search-container">
      <p class="approve">All products</p>
      <form [formGroup]="searchForm" class="search-form">
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Search products" formControlName="searchProducts" />
          <button mat-icon-button matSuffix (click)="searchProducts()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>

    <div class="products-cards">
      <mat-card class="product-card" appearance="outlined" *ngFor="let product of allProducts">
        <div class="product-image-container">
          <img mat-card-image class="product-image" src="http://localhost:4000/uploads/{{ product.imageFilename }}" alt="Photo" />
        </div>
        <div class="product-card-content">
          <mat-card-header class="product-card-header">
            <mat-card-title>{{ product.name }}</mat-card-title>
            <mat-card-subtitle>{{ product.description }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p class="product-price">${{ product.price }}</p>
            <p class="product-category">{{ product.category }}</p>
            <p class="product-stock">{{ product.stock }} in stock</p>
            <div class="product-variants">
              <mat-chip-grid class="chip-grid" #chipGrid aria-label="Variants selection">
                @for (variant of product.variants; track $index) {
                <mat-chip-row class="chip-row" (removed)="remove(variant, product)">
                  {{ variant }}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>

                }
              </mat-chip-grid>

              <input
                class="input-chip"
                name="currentVariant"
                placeholder="New Variant..."
                [matChipInputFor]="chipGrid"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event, product)"
              />
            </div>
            <p class="product-tags">
              <span>Tags:&nbsp;</span>
              <ng-container *ngFor="let tag of product.tags; let i = index; let last = last">
                <span class="tag"
                  >{{ tag }}
                  <button class="tag-remove" (click)="removeTag(product, tag)">
                    <mat-icon>cancel</mat-icon>
                  </button>
                  <ng-container *ngIf="!last">, &nbsp;</ng-container></span
                >
              </ng-container>
            </p>
            <div class="product-tags-input">
              <input class="input-tag" name="currentTag" placeholder="New Tag..." (keyup.enter)="addTag($event, product)" />
            </div>
          </mat-card-content>
        </div>
        <mat-card-actions>
          <button mat-icon-button (click)="updateProduct(product)"><mat-icon class="material-symbols-outlined edit-icon">edit</mat-icon></button>
          <button mat-icon-button (click)="deleteProduct(product)"><mat-icon class="material-symbols-outlined delete-icon">delete</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div *ngIf="allProducts.length === 0">
      <p style="margin: 0px 15px 12px">No products!</p>
    </div>
  </div>
  <div class="account-data" *ngIf="selectedSection === 'news'">
    <p class="approve">Add news</p>
    <form [formGroup]="newsForm" class="add-product-form">
      <div class="file-upload-container" (click)="fileInput.click()">
        <span *ngIf="!imageSrc" class="material-symbols-outlined upload-icon"> upload_file </span>
        <input type="file" #fileInput hidden (change)="onFileSelectedNews($event)" accept="image/*" />
        <div class="image-preview" *ngIf="imageSrc">
          <img [src]="imageSrc" alt="Preview" />
        </div>
      </div>

      <div class="all-inputs">
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" formControlName="title" required />
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Description" formControlName="description" required></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Video link</mat-label>
          <input matInput placeholder="Video link" formControlName="videoLink" required />
        </mat-form-field>
        <button mat-raised-button class="add-product-button" (click)="addNews()" type="submit">Add news</button>
      </div>
    </form>
    <div class="search-container">
      <p class="approve">All news</p>
      <form [formGroup]="searchForm" class="search-form">
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Search news" formControlName="searchNews" />
          <button mat-icon-button matSuffix (click)="searchNews()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
    <div class="all-news">
      <ng-container *ngFor="let singleNews of news">
        <app-news-edit (close)="fetchNews()" (save)="fetchNews()" [news]="singleNews"></app-news-edit>
      </ng-container>
    </div>
  </div>

  <div class="account-data" *ngIf="selectedSection === 'questions'">
    <p class="approve">Add Question</p>
    <form [formGroup]="questionForm" class="add-question-form" (ngSubmit)="onSave()">
      <div class="all-inputs">
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Question</mat-label>
          <input matInput placeholder="Question" formControlName="question" required />
        </mat-form-field>

        <div formArrayName="options">
          <div *ngFor="let option of options.controls; let i = index" [formGroupName]="i" class="option-group">
            <mat-form-field appearance="outline" class="input-field">
              <mat-label>Option {{ i + 1 }}</mat-label>
              <input matInput placeholder="Option Text" formControlName="text" required />
              <button mat-icon-button matSuffix (click)="options.removeAt(i)">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <mat-checkbox formControlName="isCorrect"> Is Correct </mat-checkbox>
          </div>
        </div>

        <button mat-raised-button class="add-option-button" type="button" (click)="addOption()">Add Option</button>
      </div>
      <div class="button-container">
        <button mat-stroked-button class="add-product-button" type="submit" id="submit-button">Save Question</button>
      </div>
    </form>

    <div class="search-container">
      <p class="approve">All questions</p>
      <form [formGroup]="searchForm" class="search-form">
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Search questions" formControlName="searchQuestions" />
          <button mat-icon-button matSuffix (click)="searchQuestions()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
    <div class="all-news">
      <ng-container *ngFor="let question of questions">
        <app-qotd-edit (close)="fetchQuestions()" (save)="fetchQuestions()" [question]="question"></app-qotd-edit>
      </ng-container>
    </div>
  </div>
</div>
