:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.account-dashboard {
  border-bottom: 1px solid #f6dad5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.account-greeting {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 50px;
}

.account-greeting-name {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  color: #dd735e;
}

.account-greeting-logout {
  font-size: 15px;
  font-weight: 500;
  color: #6a6e71;
  text-decoration: none;
  cursor: pointer;
}

.account-info {
  display: flex;
  flex: 1;
  gap: 16px;
  margin: 50px;
}

.account-navigation {
  cursor: pointer;
  color: #6a6e71;
  border-right: 1px solid #f6dad5;
}

a {
  cursor: pointer;
  color: #dd735e;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

li {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border: #f4b9ae solid 1px;
  border-radius: 10px;
  margin: 0 10px;
  padding: 8px;
  text-decoration: none;
}
li:hover {
  border: #8f4c42 solid 1px;
  border-radius: 10px;
  padding: 8px;
  text-decoration: none;
}

.account-data {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-basis: 70%;
  flex: 1;
  border: #f4b9ae solid 1px;
  border-radius: 8px;
  padding: 16px 32px;
}

.approve {
  font-size: 30px;
  font-weight: 700;
  color: #b69e9f;
  padding: 10px;
  margin: 10px 0 !important;
}

.users-cards {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  width: 100%;
  justify-content: start;
  align-items: center;
  padding: 10px 0 10px;
  gap: 15px;
}

.user-card {
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgb(192 175 90) 0px 1px 4px 0px;
  cursor: pointer;
}

.user-card:hover {
  box-shadow: rgb(173, 173, 170) 0px 1px 4px 0px, rgb(170, 169, 164) 0px 0px 2px 0px;
}

.user-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.profile-icon {
  width: 130px;
  height: 130px;
  margin: 10px 0 0 0;
}

button[mat-icon-button] {
  background: none;
  border: none;
  cursor: pointer;
}

.approve-icon {
  font-size: 30px;
  width: 30px;
  height: 30px;

  background-color: #ffffff;
  color: #72c05a;
  border-radius: 45px;
}

.delete-icon {
  font-size: 26px;
  height: 30px;
  width: 30px;
  color: #d06060;
  background-color: none;
  border-radius: 45px;
  padding: 8px 8px 6px;
}

.delete-icon:hover {
  background-color: #d06060;
  color: #ffffff;
}

/* mat-icon:hover {
  color: #ffffff;
  background-color: #72c05a;
} */

.add-product-form {
  width: 100%;
  padding: 20px 10px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.all-inputs {
  width: 60%;
}

.input-field {
  width: 100%;
}

.input-field input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.file-upload-container {
  width: 40%;
  width: 300px;
  height: 300px;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.upload-icon {
  font-size: 48px;
  color: #777;
}

.image-preview img {
  object-fit: cover;
}

.upload-button {
  width: 50px;
  height: 50px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.image-preview {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-preview img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.variants-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 20px;
}

.add-product-button {
  color: white;
  background-color: #b69ea0;
}

.add-product-button:hover {
  background-color: white;
  color: #b69ea0;
  border: 2px solid #b69ea0;
}

.product-image-container {
  display: flex;
  width: 220px;
  height: 220px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.product-image {
  height: 200px;
  width: object-fit;
}

.product-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chip-grid {
  max-height: 200px;
  overflow: overlay;
}

/* .chip-row {
  background-color: transparent !important;
  border: 1px solid;
} */

.input-chip {
  border: 1.5px solid rgb(182 158 161);
  border-radius: 16px;
  margin: 10px 0;
  padding: 0 10px;
}

.input-tag {
  border: 1.5px solid rgb(182 158 161);
  border-radius: 16px;
  margin: 10px 0;
  padding: 0 10px;
  width: 100%;
  height: 28px;
}

.product-tags {
  display: flex;
  align-items: center;
}

.tag {
  display: flex;
  justify-items: center;
  align-items: center;
}

.tag-remove {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  border: 0;
  padding: 0;
  border-radius: 50%;
  width: auto;
  height: auto;

  mat-icon {
    color: #797979;
    width: auto;
    height: 24px;
  }

  mat-icon:hover {
    background-color: unset;
  }
}

.all-news {
  max-height: 1000px;
  overflow: overlay;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
}
