html,
body {
  background-color: #f9f8f8;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  color: #757575 !important;
  height: 100vh;
  flex-basis: 100%;
  display: flex;
}

body [class^="mat-"]:not(mat-icon),
body [class*=" mat-"]:not(mat-icon),
h1,
h2,
h3,
h4,
h5,
h6,
p,
input {
  font-family: "Montserrat", sans-serif !important;
}

.mat-mdc-dialog-surface {
  border-radius: 10px !important;
}

@font-face {
  font-family: brasika;
  src: url(/assets/fonts/BrasikaDisplay.ttf) format("truetype");
}

#sold-out-chip {
  --mdc-chip-label-text-color: #fff;
}
