html,
body {
  background-color: #f9f8f8;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  color: #757575 !important;
}

body [class^="mat-"]:not(mat-icon),
body [class*=" mat-"]:not(mat-icon),
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Montserrat", sans-serif !important;
}

.mat-mdc-dialog-surface {
  border-radius: 10px !important;
}
