<div class="homepage-top">
  <div class="container">
    <div class="top-left">
      <h1 class="cusom-h">PHONE CASES FOR EVERYONE</h1>
    </div>
    <div class="button-shop">
      <button mat-stroked-button class="custom-button" (click)="navigateToShopPhoneCases()">SHOP NOW</button>
    </div>
  </div>
</div>
<div class="best-sellers">
  <h1 class="cusom-h">BEST SELLERS</h1>
  <div class="best-seller-cards">
    <app-product-list [products]="products" (addToCart)="onAddToCart($event)"></app-product-list>
  </div>
</div>
