<div class="homepage-top">
  <div class="container">
    <div class="top-left">
      <h1 class="cusom-h">PHONE CASES FOR EVERYONE</h1>
    </div>
    <div class="button-shop">
      <button mat-stroked-button class="custom-button" (click)="navigateToShopPhoneCases()">SHOP NOW</button>
    </div>
  </div>
</div>
<div class="best-sellers">
  <div class="best-seller-cards">
    <app-product-list title="Best Sellers" [products]="products"></app-product-list>
    <!-- <app-product-list title="BEST PISE IKADA" [products]="products"></app-product-list> -->
    <!-- (addToCart)="onAddToCart($event)" -->
  </div>
</div>
