<div class="homepage-top">
  <div class="container">
    <div class="top-left">
      <h1 class="cusom-h">
        <span>HANDSOME STYLES</span>
        <!-- <span>store</span> -->
      </h1>
    </div>
    <div class="second-row">
      <div class="highlighted-product" *ngIf="highlightedProduct">
        <img src="http://localhost:4000/uploads/{{ highlightedProduct.imageFilename }}" alt="highlighted product" class="highlighted-product-image" />
        <div class="highlighted-product-details">
          <span>{{ highlightedProduct?.name }}</span>
          <span class="custom-font big-font">20% off!</span>
        </div>
      </div>
      <img class="harry-standup" src="/assets/harry.png" alt="harry" />
      <div class="right-side">
        <div class="collection">
          <h3>New Collection!</h3>
          <button mat-stroked-button class="custom-button" (click)="navigateToShopPhoneCases()">SHOP NOW</button>
        </div>
        <button *ngIf="randomProduct" matRipple matRippleColor="#f1d5ee4f" class="random-product" (click)="navigateToRandomProduct()">
          <img src="http://localhost:4000/uploads/{{ randomProduct.imageFilename }}" alt="{{ randomProduct.name }}" class="random-product-image" />
          <div class="highlighted-product-details">
            <span>{{ randomProduct?.name }}</span>
            <span class="custom-font">{{ randomProduct?.price }}$</span>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="best-sellers">
    <div class="best-seller-cards">
      <app-product-list page="Best Sellers" [products]="products"></app-product-list>
    </div>
  </div>
</div>
