.homepage-top {
  min-height: 700px;
  width: 100%;
}

.container {
  display: flex;
}

.top-left {
  margin-bottom: 15px;
}

.cusom-h {
  font-size: 35px;
  font-weight: 600;
  margin: 20px;
}

.custom-button {
  background-color: #fbe0c5;
  color: rgb(55, 50, 50);
  border-radius: 30px;
  font-size: 1.5em;
  padding: 15px 30px;
  height: auto;
  width: auto;
}

.best-sellers {
  text-align: center;
  display: block;
  width: 100%;
  height: auto;
}
